
.button {
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
}

.tmpl {
    -fx-font-weight: bold;
    -fx-font-size: 32.0;
}

.part-record-button-active-cue {
    -fx-background-color: #F77;
}

.part-record-button-active {
    -fx-background-color: #F00;
}

.loop-display-bar {
    -fx-font-weight: bold;
    -fx-font-size: 32.0;
}

.loop-display-bar-active {
    -fx-text-fill: #227d22;
}
